@use "../../foundation/variables";

.c-container {
    @include variables.media-pc {
        display: flex;
        flex-direction: row-reverse;
        height: auto;
        position: relative;
        align-items: stretch;
    }
}

.c-container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.7);
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease; //フェードイン！

    @include variables.media-pc {
        display: none;
        visibility: visible;
    }
}

.c-container.is-open::before {
    opacity: 1;
    visibility: visible;
}