@use "../../foundation/variables";

.c-icon__close {
    position: relative;
    width: 32px;
    height: 36px;
    display: none;
}

.c-icon__close::before,
.c-icon__close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 6px;
    background-color: variables.$color-gray;
    transform-origin: center;
}

.c-icon__close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.c-icon__close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}