@use "../../../foundation/variables";


.p-archive__text-area {
    color: variables.$color-brown;
    margin: 22px;


    @include variables.media-tb {
        margin: 0 40px;
    }

    @include variables.media-pc {
        margin: 60px 100px;
    }
}

.p-archive__text-area__title {
    font-size: 28px;
    padding-top: 10px;

    @include variables.media-tb {
        font-size: 36px;
        padding-top: 40px;

    }

    @include variables.media-pc {
        padding-top: 0;

    }
}

.p-archive__text-area__text {
    font-size: 16px;
    padding: 25px 0;

    @include variables.media-pc {
        padding-bottom: 0;

    }

}