@use "../../../foundation/variables";

.p-archive-visual {
    position: relative;
    width: 100%;
    height: 285px;

    @include variables.media-tb {
        width: 100vw;
        height: 285px;
    }

    @include variables.media-pc {
        width: 100%;
        height: 239px;
    }

    // 半透明の黒いオーバーレイ
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 2;
    }
}

.p-archive-visual__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.p-archive-visual__textwrap {
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: row;
    width: 100%;

    @include variables.media-tb {
        justify-content: flex-start;
    }
}



.p-archive-visual__title {
    font-size: 36px;
    color: variables.$color-white;
    position: absolute;
    left: 0;
    padding-left: 37px;

    @include variables.media-tb {
        font-size: 60px;
        position: static;
        padding-left: 86px;
    }

    @include variables.media-pc {
        font-size: 60px;
    }
}


.p-archive-visual__text {
    top: 160px;
    font-size: 16px;
    color: variables.$color-white;
    position: absolute;
    z-index: 3;
    left: 0;
    padding-top: 10px;
    padding-left: 37px;

    @include variables.media-tb {
        position: static;
        margin: 19px;
        padding: 0;

    }

    @include variables.media-pc {
        font-size: 16px;

    }
}