@use "../../../foundation/variables";

.p-archive__card-area {
    width: auto;
    height: 100%;

    @include variables.media-tb {
        width: 100%;
        height: auto;
    }

    @include variables.media-pc {
        padding: 0 100px;
    }

    &__card {
        margin: 20px;
        height: auto;
        width: auto;

        @include variables.media-tb {
            display: flex;
            padding: 20px 40px;
            margin: 0;
            width: 100%;

        }

        @include variables.media-pc {
            margin: 0;
            margin-bottom: 30px;
        }
    }

    &__img-wrap {
        width: 100%;
        height: 230px;
        display: block;

        @include variables.media-tb {
            height: auto;
            width: 50%;
            display: flex;
        }


    }

    &__img {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;


        @include variables.media-tb {
            height: auto;
            width: 100%;
            margin: 0;
            max-width: 100%;
            box-sizing: border-box;
        }

    }


    &__text-wrap {
        background-color: variables.$color-brown;
        color: variables.$color-white;
        height: auto;
        padding: 17px;
        line-height: 25px;
        display: flex;
        flex-direction: column;

        @include variables.media-tb {
            padding: 30px 35px 0 35px;
            width: 50%;
            height: auto;
        }

        @include variables.media-pc {
            padding: 56px 56px 0 56px;

        }
    }


    &__h2 {
        font-size: 20px;
        padding-top: 15px;


        margin-top: 0;
        margin-bottom: 0;


        @include variables.media-pc {
            font-size: 36px;
            line-height: normal;
        }

    }

    &__h3 {
        font-size: 16px;
        padding: 21px 0 7px 0;

        margin-top: 0;
        margin-bottom: 0;

        @include variables.media-pc {
            font-size: 24px;
        }
    }



    &__btn {
        font-size: 16px;
        background-color: variables.$color-white;
        color: variables.$color-gray;
        width: 163px;
        height: 42px;
        margin: 30px auto;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

        margin-top: auto; // 上にある要素（h2, h3, p）との間を押し広げる
        margin-bottom: auto; // 下にも自動でスペースを作って、上下中央に寄せる

        @include variables.media-pc {
            width: 292px;
            min-height: 76px;
            border-radius: 50px;

        }

        &.is-mouseover {
            background-color: darkgray;
            color: variables.$color-white;
            transition: 0.3s;
        }


    }

    &__btn-area {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include variables.media-tb {
            height: 100%;
            min-height: 150px;
        }


    }
}