@use "../../../foundation/variables";

.p-single__cap-area {
    padding: 10px 20px;

    @include variables.media-tb {
        padding: 0 60px;
    }

    @include variables.media-pc {
        padding: 0 100px;
    }

    &__img {
        display: block;
        height: auto;
        width: 100%;

        @include variables.media-pc {
            padding-bottom: 60px;
        }
    }

    &__fig {
        padding: 30px 0;
        display: flex;
        gap: 10px;


        @include variables.media-tb {
            padding: 60px 0;
            gap: 20px;
        }

        @include variables.media-pc {
            padding: 30px 0px;
            gap: 40px;

        }


        &__p {
            font-size: 16px;
            color: variables.$color-brown;

            @include variables.media-pc {
                line-height: 25px;
            }
        }

        &__img {
            height: 89px;
            width: auto;

            @include variables.media-tb {
                height: 189px;
            }

            @include variables.media-pc {
                height: 358px;
            }
        }
    }

}