@use "../../foundation/variables";



.p-footer-link {
    display: flex;
    justify-content: center;
    padding: 16px;

    @include variables.media-tb {
        padding: 30px;
    }
}


.p-footer-link__text {
    color: variables.$color-white;
    font-size: 18px;
    display: flex;

    @include variables.media-tb {

        font-size: 20px;
    }

    .menu-item a {
        color: variables.$color-white;
    }

    .menu-item a:hover {
        color: variables.$color-brown;

    }
}

.p-footer__copy {
    color: variables.$color-white;
    font-size: 14px;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;


    @include variables.media-tb {
        bottom: 24px;

    }
}

.p-footer-link ul li:not(:last-child)::after {
    content: "｜";
    color: variables.$color-white;
    pointer-events: none;
}