@use "../foundation/variables";

.l-main-area {
    display: flex;
    flex-direction: column;
    background-color: variables.$color-beige;

    @include variables.media-pc {
        flex: 1;
    }
}